.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(100vw - 104px);
    margin: 42px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title {
    font-size: 32px;
    line-height: 32px;
}

.update {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.warning {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0F1318;
    border-radius: 4px;
    gap: 10px;
    padding: 17px 24px;
}

.error {
    font-size: 18px;
    font-weight: 500;
}

.refresh {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EB0237;
    border-radius: 4px;
    padding: 15px;
    gap: 10px;
}

.refresh:disabled svg {
    animation: rotation 1s linear infinite;
}

.refresh:disabled svg path {
    fill: #787878;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.refresh:active {
    background-color: #A01131;
}

.refresh:disabled {
    background-color: #701328;
    color: #787878;
}

.refresh p {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}